@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(115deg, #8eb69b 10%, #0b2b26 90%);
}
h3 {
  margin-bottom: 15px;
}
.container {
  max-width: 800px;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: start;
}

.input-data input,
.textarea textarea {
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
.input-data input:focus ~ label,
.textarea textarea:focus ~ label {
  font-size: 17px;
  color: #3498db;
}
.textarea textarea {
  resize: none;
  padding-top: 10px;
}
